/* Color Palette and Fonts */
:root {
  --clr-bright-cyan: #4AC1FF;
  --clr-slate-grey: #666F77;
  --clr-very-light-gray: #BBB;
  --clr-white: #FFF;
  --clr-black: #000D0C;
  --clr-dark-slate-grey: #555f66;

  --ff-primary: 'Open Sans', sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-weight: 400;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: var(--clr-slate-grey);
  background-color: var(--clr-white);
}

/* Remove any margins */
body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
}

h1 {
  font-family: var(--ff-primary);
  font-size: 2rem;
  font-weight: 400;
  line-height: 0.88;
  letter-spacing: 2.4px;
  text-align: center;
  color: var(--clr-slate-grey);
}

h1.headline {
  padding-top: 2.75rem;
}

@media screen and (max-width: 40em) {
  h1.headline {
    font-size: 1.8rem;
  }
}

h1.intro-text {
    font-size: 1.188rem;
    line-height: 1.63;
    letter-spacing: 0.19px;
    padding-top: 0.75rem;
    padding-bottom: 3.2rem;
    color: var(--clr-very-light-gray);
}

.header-region {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header {
  padding: 2.875rem 0 1.2rem 0;
}

.container {
  margin-inline: auto;
  width: min(90%, 75rem);
}

.container-wide {
  width: 100%;
}

.container-narrow {
  margin-inline: auto;
  // width: 61.125rem;
}

.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
}

/* Main Menu */
.main-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;

  li:last-child {
    background-color: var(--clr-bright-cyan);
    border-radius: 5px;
    padding: 0.4rem 1.75rem;
    cursor: pointer;
    transition:all 0.5s;

     &:hover {
        background-color: darken(#4AC1FF, 20%);
     }

    a {
      font-weight: 600;
      color: var(--clr-white);
    }
  }
}

.menu-item {
    padding: 0 1.56rem;

  a {
    font-family: var(--ff-primary);
    font-size: 1.125rem;
    font-weight: normal;
    letter-spacing: 0.9px;
    color: var(--clr-very-light-gray);
    text-decoration: none;
    text-transform: uppercase;
    transition:all 0.5s;

    &:hover {
      color: var(--clr-dark-slate-grey);
    }
  }
}

/* Hero */
.hero-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 414px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-content: center;
  justify-content: center;

  .hero-image-div {
    grid-area: 1/1/2/2;
  }

  .hero-text-div {
    grid-area: 1/1/2/2;
  }
}

.hero-image {
  display: grid;
  min-width: 350px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text-div {
  display: grid;
  align-items: center;
  justify-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.hero-title {
  font-family: var(--ff-primary);
  font-size: 2.813rem;
  font-weight: 600;
  line-height: 0.62;
  letter-spacing: normal;
  text-transform: uppercase;
  color: var(--clr-white);
  padding-bottom: 1rem;
}

@media screen and (max-width: 40em) {
  .hero-title {
    line-height: 1;
  }
}

.hero-body {
  font-family: var(--ff-primary);
  font-size: 1.188rem;
  font-weight: normal;
  line-height: 1.47;
  letter-spacing: 0.48px;
  text-transform: none;
  color: var(--clr-white);
  padding-bottom: 1.688rem;
}

.btn-cta {
  font-size: 1.063rem;
  font-weight: 600;
  letter-spacing: 0.43px;
  padding: 0.6rem 2.875rem;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  color: var(--clr-white);
  background-color: var(--clr-bright-cyan);
  transition:all 0.5s;

    &:hover {
      background-color: darken(#4AC1FF, 20%);
    }

}

/* Cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 7.3rem;
  opacity: 0;
}

.card {
  text-align: center;
  max-width: 300px;
  margin: 1rem;
  padding: 1.2rem 1.875rem 2.75rem 1.875rem;
  border-radius: 5px;
  border: solid 1px var(--clr-very-light-gray);
  background-color: var(--clr-white);

  h3 {
    font-size: 1.125rem;
    font-weight: normal;
    text-transform: uppercase;
    padding-bottom: 1.625rem;
  }

  p {
    font-size: 1rem;
    font-weight: normal;
    color: var(--clr-slate-grey);
  }
}

@media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
 
    .card {
        flex: 0 1 calc(35% - 1em);
    }
}

.circle {
  margin: auto;
  width: 106px;
  height: 106px;
  border-radius: 50%;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-bright-cyan);

  .fa-cog {
    font-size: 36px;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    color: var(--clr-white);
  }
}
